div{
    color: white;
}

#corpo{
    background-image: url(https://img.mybest-brazil.com.br/press_component/images/56b141e517fac4b085f91b090558b432.jpg?ixlib=rails-4.2.0&q=70&lossless=0&w=690&fit=max&s=55d475b3422e71ae5b1e28693e747da3);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: black;
}

.header-2{
    background-color: black;
    width: 100%;
    border-bottom: 3px solid #efefef;
}

.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 5px;
}

.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.busca{
    width: 30%;
    float: right;
}